
body{
    width: 80%;
    margin: auto;
    background-color:whitesmoke;
    max-width: 800px;
    color: rgb(34, 32, 32);
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: rgb(173, 121, 121);
    text-align: center;
    border-bottom: solid rgb(85, 54, 54) 2px;
    border-radius: 4px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: rgb(173, 121, 121);
    text-align: center;
    border-bottom: solid rgb(85, 54, 54) 2px;
        border-radius: 4px;

}
a:hover{
    color: rgb(122, 19, 53);
}